---
- name: Deploy nginx local ingress controllers
  kubernetes.core.helm:
    name: "{{ ingress_name }}"
    chart_ref: "{{ k8s_nginx_chart.name }}"
    chart_repo_url: "{{ k8s_nginx_chart.repo }}"
    chart_version: "{{ k8s_nginx_chart.release }}"
    release_namespace: "{{ ingress_namespace }}"
    state: present
    wait: true
    wait_timeout: "{{ k8s_nginx_wait_timeout }}s"
    create_namespace: true
    kubeconfig: "{{ k8s_kubeconfig | default(omit) }}"
    binary_path: "{{ lookup('ansible.builtin.env', 'HELM_BIN', default=k8s_helm_bin) }}"
    values:
      controller:
        allowSnippetAnnotations: true
        ingressClassResource:
          name: "{{ ingress_class }}"
          controllerValue: "k8s.io/{{ ingress_name }}"
        service:
          annotations:
            metallb.universe.tf/address-pool: "{{ item.name }}"
  vars:
    ingress_class: "nginx-{{ item.name }}"
    ingress_name: "{{ ingress_class }}"
    ingress_namespace: "{{ ingress_class }}"
  loop_control:
    label: "{{ ingress_class }}"
  loop: "{{ k8s_address_pools }}"
