---
- name: Print debug information
  ansible.builtin.debug:
    msg: "using kubeconfig at '{{ k8s_kubeconfig }}'"

- name: Include precondition checks
  ansible.builtin.include_tasks: "deploy/check.yml"

- name: Include secret management tasks
  ansible.builtin.include_tasks: "deploy/secrets.yml"

- name: Include metallb deployment tasks
  ansible.builtin.include_tasks: "deploy/metallb.yml"

- name: Include certmanager deployment tasks
  ansible.builtin.include_tasks: "deploy/certmanager.yml"

- name: Include ingress deployment tasks
  ansible.builtin.include_tasks: "deploy/nginx/{{ k8s_cluster_type }}.yml"
  when: k8s_nginx_deploy | bool

- name: Include longhorn deployment tasks
  ansible.builtin.include_tasks: "deploy/longhorn.yml"
  when: k8s_longhorn_deploy | bool

- name: Include olm deployment tasks
  ansible.builtin.include_tasks: "deploy/olm.yml"
  when: k8s_olm_deploy | bool

- name: Include argocd deployment tasks
  ansible.builtin.include_tasks: "deploy/argocd.yml"
  when: k8s_argocd_deploy | bool

- name: Include strimzi deployment tasks
  ansible.builtin.include_tasks: "deploy/strimzi.yml"
  when: k8s_strimzi_deploy | bool

- name: Include zalando deployment tasks
  ansible.builtin.include_tasks: "deploy/zalando.yml"
  when: k8s_zalando_deploy | bool

- name: Include opensearch operator deployment tasks
  ansible.builtin.include_tasks: "deploy/opensearch.yml"
  when: k8s_opensearch_deploy | bool

- name: Include mysql operator deployment tasks
  ansible.builtin.include_tasks: "deploy/mysql.yml"
  when: k8s_mysql_deploy | bool
