---
- name: Print debug information
  ansible.builtin.debug:
    msg: "using kubeconfig at '{{ k8s_kubeconfig }}'"

- name: Include precondition checks
  ansible.builtin.include_tasks: "deploy/check.yml"

- name: Include secret management tasks
  ansible.builtin.include_tasks: "deploy/secrets.yml"

- name: Include Harbor deployment tasks
  ansible.builtin.include_tasks: "deploy/harbor.yml"
  when: k8s_harbor_deploy | bool

- name: Include MetalLB deployment tasks
  ansible.builtin.include_tasks: "deploy/metallb.yml"

- name: Include CertManager deployment tasks
  ansible.builtin.include_tasks: "deploy/certmanager.yml"

- name: Include ingress deployment tasks
  ansible.builtin.include_tasks: "deploy/nginx/{{ k8s_cluster_type }}.yml"
  when: k8s_nginx_deploy | bool

- name: Include Longhorn deployment tasks
  ansible.builtin.include_tasks: "deploy/longhorn.yml"
  when: k8s_longhorn_deploy | bool

- name: Include ArgoCD deployment tasks
  ansible.builtin.include_tasks: "deploy/argocd.yml"
  when: k8s_argocd_deploy | bool

- name: Include Strimzi deployment tasks
  ansible.builtin.include_tasks: "deploy/strimzi.yml"
  when: k8s_strimzi_deploy | bool

- name: Include Zalando PostgreSQL deployment tasks
  ansible.builtin.include_tasks: "deploy/zalando.yml"
  when: k8s_zalando_deploy | bool

- name: Include OpenSearch operator deployment tasks
  ansible.builtin.include_tasks: "deploy/opensearch.yml"
  when: k8s_opensearch_deploy | bool

- name: Include MySQL deployment tasks
  ansible.builtin.include_tasks: "deploy/mysql.yml"
  when: k8s_mysql_deploy | bool

- name: Include Keel deployment tasks
  ansible.builtin.include_tasks: "deploy/keel.yml"
  when: k8s_keel_deploy | bool

- name: Include Reflector deployment tasks
  ansible.builtin.include_tasks: "deploy/reflector.yml"
  when: k8s_reflector_deploy | bool

- name: Include SealedSecrets deployment tasks
  ansible.builtin.include_tasks: "deploy/sealedsecrets.yml"
  when: k8s_sealedsecrets_deploy | bool

- name: Include Metrics Server deployment tasks
  ansible.builtin.include_tasks: "deploy/metrics-server.yml"
  when: k8s_metrics_server_deploy | bool
