---
- include_tasks: "checks.yml"

- include_tasks: "metallb.yml"

- include_tasks: "certmanager.yml"

- include_tasks: "nginx/{{ k8s_cluster_type }}.yml"

- include_tasks: "argocd.yml"

- include_tasks: "olm.yml"
