---
- name: Print debug information
  ansible.builtin.debug:
    msg: "using kubeconfig at '{{ k8s_kubeconfig }}'"

- name: Install verifier dependencies
  ansible.builtin.include_tasks: verify/install.yml

- name: Create temporary directory
  ansible.builtin.tempfile:
    state: directory
    prefix: kind
  register: _tmpdir
  when: k8s_verifier_path is not defined

- name: Set verification directory default
  ansible.builtin.set_fact:
    k8s_verifier_path: "{{ _tmpdir.path }}"
  when: _tmpdir is not skipped

- name: Include verification checks
  block:

    - name: Include secret checks
      ansible.builtin.include_tasks: verify/secrets.yml
      when: k8s_secrets | length > 0

    - name: Include helm checks
      ansible.builtin.include_tasks: verify/helm.yml

    - name: Include olm checks
      ansible.builtin.include_tasks: verify/olm.yml
      when: k8s_olm_verify | bool

    - name: Include argocd checks
      ansible.builtin.include_tasks: verify/argocd.yml
      when: k8s_argocd_verify | bool

    - name: Include volume checks
      ansible.builtin.include_tasks: verify/volume.yml
      when: k8s_volume_verify | bool

    - name: Include strimzi checks
      ansible.builtin.include_tasks: verify/strimzi.yml
      when: k8s_strimzi_verify | bool

    - name: Include opensearch checks
      ansible.builtin.include_tasks: verify/opensearch.yml
      when: k8s_opensearch_verify | bool

    - name: Include zalando checks
      ansible.builtin.include_tasks: verify/zalando.yml
      when: k8s_zalando_verify | bool

    - name: Include mysql checks
      ansible.builtin.include_tasks: verify/mysql.yml
      when: k8s_mysql_verify | bool

    - name: Include ingress checks
      ansible.builtin.include_tasks: verify/ingress.yml

    - name: Include cert checks
      ansible.builtin.include_tasks: verify/certs.yml

    - name: Include service checks
      ansible.builtin.include_tasks: verify/service.yml
      when: k8s_service_verify | bool

    - name: Include pod checks
      ansible.builtin.include_tasks: verify/pods.yml

    - name: Include command checks
      ansible.builtin.include_tasks: verify/cmds.yml

  always:

    - name: Cleanup temp files
      ansible.builtin.file:
        state: absent
        path: "{{ _tmpdir.path }}"
      when: _tmpdir is not skipped
