---
- name: Set verification facts
  ansible.builtin.set_fact:
    _query: 'kubernetes.core.k8s'
    _config: "{{ k8s_kubeconfig }}"

- name: Validate secret namespace list
  ansible.builtin.assert:
    that: ns_missing | length == 0
    fail_msg: "the following namespaces are missing from deployed secrets [{{ ns_missing | join(', ') }}]"
  vars:
    ns_query: "{{ query(_query, kind='Namespace', kubeconfig=_config) }}"
    ns_names: "{{ ns_query | map(attribute='metadata.name') }}"
    ns_targets: "{{ k8s_secrets | map(attribute='namespace') }}"
    ns_missing: "{{ ns_targets | difference(ns_names) }}"

- name: Validate secret namespace status
  ansible.builtin.assert:
    that: ns_failed | length == 0
    fail_msg: "the following namespaces are in failed status [{{ ns_failed | join(', ') }}]"
  vars:
    ns_query: "{{ query(_query, kind='Namespace', kubeconfig=_config) }}"
    ns_inactive: "{{ ns_query | rejectattr('status.phase', 'equalto', 'Active') }}"
    ns_failed: "{{ ns_inactive | map(attribute='metadata.name') }}"
  failed_when:

- name: Validate secret list
  ansible.builtin.assert:
    that: secret_missing | length == 0
    fail_msg: "the following secrets are missing from secret definitions [{{ secret_missing | join(', ') }}]"
  vars:
    secret_query: "{{ query(_query, kind='Secret', kubeconfig=_config) }}"
    secret_names: "{{ secret_query | map(attribute='metadata.name') }}"
    secret_targets: "{{ k8s_secrets | map(attribute='name') }}"
    secret_missing: "{{ secret_targets | difference(secret_names) }}"
