---
- name: set test facts
  ansible.builtin.set_fact:
    _volume_test_namespace: longhorn-test
    _volume_test_name: longhorn-test
    _volume_test_mount: longhorn-test

- name: create test volume
  when: k8s_longhorn_deploy | bool
  block:

    - name: create test namespace
      kubernetes.core.k8s:
        state: present
        kubeconfig: "{{ k8s_kubeconfig | default(omit) }}"
        resource_definition:
          apiVersion: v1
          kind: Namespace
          metadata:
            name: "{{ volume_test_namespace }}"

    - name: create test volume claim
      kubernetes.core.k8s:
        state: present
        kubeconfig: "{{ k8s_kubeconfig | default(omit) }}"
        resource_definition:
          apiVersion: v1
          kind: PersistentVolumeClaim
          metadata:
            name: "{{ _volume_test_name }}"
            namespace: "{{ _volume_test_namespace }}"
          spec:
            storageClassName: longhorn
            accessModes:
              - ReadWriteOnce
            resources:
              requests:
                storage: 3Gi

    - name: create volume consumer
      kubernetes.core.k8s:
        state: present
        kubeconfig: "{{ k8s_kubeconfig | default(omit) }}"
        resource_definition:
          apiVersion: v1
          kind: Pod
          metadata:
            name: longhorn-test
            namespace: "{{ _volume_test_namespace }}"
          spec:
            volumes:
              - persistentVolumeClaim:
                  claimName: "{{ _volume_test_name }}"
                name: "{{ volume_test_mount }}"
            containers:
              - name: longhorn-test-container
                image: nginx
                ports:
                  - containerPort: 80
                    name: "http-server"
                volumeMounts:
                  - mountPath: "/usr/share/nginx/html"
                    name: "{{ volume_test_mount }}"

- name: validate persistent claim status
  ansible.builtin.fail:
    msg: "the following pvcs are in failed status [{{ pvc_names | join(', ') }}]"
  vars:
    pvc_names: "{{ pvc_failed | map(attribute='metadata.name') }}"
    pvc_failed: "{{ pvc_query | rejectattr('status.phase', 'equalto', 'Bound') }}"
    pvc_query: "{{
      query(
        'kubernetes.core.k8s',
        kind='PersistentVolumeClaim',
        kubeconfig=k8s_kubeconfig
      ) }}"
  retries: "{{ k8s_retry_num }}"
  delay: "{{ k8s_retry_delay }}"
  until: pvc_failed | length == 0
  failed_when: pvc_failed | length > 0
