---
- name: deploy ArgoCD App for AWX Operator
  kubernetes.core.k8s:
    state: present
    kubeconfig: "{{ k8s_kubeconfig | default(omit) }}"
    resource_definition:
      apiVersion: argoproj.io/v1alpha1
      kind: Application
      metadata:
        name: awx-operator
        namespace: "{{ k8s_argocd_namespace }}"
      spec:
        project: default
        source:
          chart: awx-operator
          repoURL: https://ansible.github.io/awx-operator/
          targetRevision: "{{ k8s_awxoperator_release }}"
          helm:
            releaseName: awx-operator
        destination:
          namespace: "{{ k8s_awxoperator_namespace }}"
          server: "https://kubernetes.default.svc"
        syncPolicy:
          automated: {}
          syncOptions:
            - CreateNamespace=true
