---
- name: Manage keel Helm chart
  kubernetes.core.helm:
    name: keel
    chart_ref: "{{ k8s_keel_chart.name }}"
    chart_repo_url: "{{ k8s_keel_chart.repo }}"
    chart_version: "{{ k8s_keel_chart.release }}"
    release_namespace: "{{ k8s_keel_namespace }}"
    create_namespace: true
    state: present
    wait: true
    wait_timeout: "{{ k8s_keel_wait_timeout }}s"
    kubeconfig: "{{ k8s_kubeconfig | default(omit) }}"
    binary_path: "{{ lookup('ansible.builtin.env', 'HELM_BIN', default=k8s_helm_bin) }}"
    values:
      helmProvider:
        version: "v3"
