---
- name: deploy metallb
  kubernetes.core.helm:
    name: metallb
    chart_ref: "{{ k8s_metallb_chart.name }}"
    chart_repo_url: "{{ k8s_metallb_chart.repo }}"
    chart_version: "{{ k8s_metallb_chart.release }}"
    release_namespace: "{{ k8s_metallb_namespace }}"
    create_namespace: true
    state: present
    wait: true
    wait_timeout: "{{ k8s_metallb_wait_timeout }}s"
    values:
      speaker:
        secretValue: "{{ k8s_metallb_speaker_secret }}"
    kubeconfig: "{{ k8s_kubeconfig | default(omit) }}"
    binary_path: "{{ k8s_helm_bin | default(omit) }}"

- name: create metallb pools
  kubernetes.core.k8s:
    state: present
    kubeconfig: "{{ k8s_kubeconfig | default(omit) }}"
    resource_definition:
      apiVersion: metallb.io/v1beta1
      kind: IPAddressPool
      metadata:
        name: "{{ item.name }}"
        namespace: "{{ k8s_metallb_namespace }}"
      spec:
        addresses:
          - "{{ item.pool }}"
  loop: "{{ k8s_address_pools }}"

- name: advertise metallb pools
  kubernetes.core.k8s:
    state: present
    kubeconfig: "{{ k8s_kubeconfig | default(omit) }}"
    resource_definition:
      apiVersion: metallb.io/v1beta1
      kind: L2Advertisement
      metadata:
        name: metallb
        namespace: "{{ k8s_metallb_namespace }}"
