---
- name: Deploy MetalLB chart
  kubernetes.core.helm:
    name: metallb
    chart_ref: "{{ k8s_metallb_chart.name }}"
    chart_repo_url: "{{ k8s_metallb_chart.repo }}"
    chart_version: "{{ _release }}"
    release_namespace: "{{ k8s_metallb_namespace }}"
    create_namespace: true
    state: present
    wait: true
    wait_timeout: "{{ k8s_metallb_wait_timeout }}s"
    values:
      speaker:
        secretValue: "{{ k8s_metallb_speaker_secret }}"
    kubeconfig: "{{ k8s_kubeconfig | default(omit) }}"
    binary_path: "{{ lookup('ansible.builtin.env', 'HELM_BIN', default=k8s_helm_bin) }}"
  vars:
    _release: "{{ k8s_metallb_chart_release | default(k8s_metallb_chart.release) }}"

- name: Create MetalLB pools
  kubernetes.core.k8s:
    state: present
    kubeconfig: "{{ k8s_kubeconfig | default(omit) }}"
    resource_definition:
      apiVersion: metallb.io/v1beta1
      kind: IPAddressPool
      metadata:
        name: "{{ item.name }}"
        namespace: "{{ k8s_metallb_namespace }}"
      spec:
        addresses:
          - "{{ item.pool }}"
  loop_control:
    label: "{{ item.name }}"
  loop: "{{ k8s_address_pools }}"
  retries: "{{ k8s_retry_num }}"
  delay: "{{ k8s_retry_delay }}"
  register: metallb_pool_create
  until: metallb_pool_create is success

- name: Advertise MetalLB pools
  kubernetes.core.k8s:
    state: present
    kubeconfig: "{{ k8s_kubeconfig | default(omit) }}"
    resource_definition:
      apiVersion: metallb.io/v1beta1
      kind: L2Advertisement
      metadata:
        name: metallb
        namespace: "{{ k8s_metallb_namespace }}"
  retries: "{{ k8s_retry_num }}"
  delay: "{{ k8s_retry_delay }}"
  register: metallb_pool_create
  until: metallb_pool_create is success
