---
- name: Deploy Metrics Server chart
  kubernetes.core.helm:
    name: metrics-server
    chart_ref: "{{ k8s_metrics_server_chart.name }}"
    chart_repo_url: "{{ k8s_metrics_server_chart.repo }}"
    chart_version: "{{ _release }}"
    release_namespace: "{{ k8s_metrics_server_namespace }}"
    create_namespace: false
    state: present
    wait: true
    wait_timeout: "{{ k8s_metrics_server_wait_timeout }}s"
    kubeconfig: "{{ k8s_kubeconfig | default(omit) }}"
    binary_path: "{{ lookup('ansible.builtin.env', 'HELM_BIN', default=k8s_helm_bin) }}"
    values: "{{ k8s_metrics_server_chart_values }}"
  vars:
    _release: "{{ k8s_metrics_server_chart_release | default(k8s_metrics_server_chart.release) }}"
