---
- name: Deploy mysql operator chart
  kubernetes.core.helm:
    name: mysql
    chart_ref: "{{ k8s_mysql_chart.name }}"
    chart_repo_url: "{{ k8s_mysql_chart.repo }}"
    chart_version: "{{ k8s_mysql_chart.release }}"
    release_namespace: "{{ k8s_mysql_namespace }}"
    create_namespace: true
    state: present
    wait: true
    wait_timeout: "{{ k8s_mysql_wait_timeout }}s"
    kubeconfig: "{{ k8s_kubeconfig | default(omit) }}"
    binary_path: "{{ k8s_helm_bin | default(omit) }}"
