---
- name: Deploy bitnami MySQL chart
  kubernetes.core.helm:
    name: "{{ _chart_name }}"
    chart_ref: "{{ k8s_mysql_chart.repo }}"
    chart_version: "{{ _release }}"
    release_namespace: "{{ item.namespace }}"
    create_namespace: true
    state: present
    wait: true
    wait_timeout: "{{ k8s_mysql_wait_timeout }}s"
    kubeconfig: "{{ k8s_kubeconfig | default(omit) }}"
    binary_path: "{{ k8s_helm_bin | default(omit) }}"
    values: "{{ item.parameters }}"
  vars:
    _release: "{{ k8s_mysql_chart_release | default(k8s_mysql_chart.release) }}"
    _chart_name: "{{ item.name }}"
  loop: "{{ k8s_mysql_deployments }}"
  loop_control:
    label: "{{ _chart_name }}"
