---
- name: Deploy zalando operator chart
  kubernetes.core.helm:
    name: zalando
    chart_ref: "{{ k8s_zalando_chart.name }}"
    chart_repo_url: "{{ k8s_zalando_chart.repo }}"
    chart_version: "{{ k8s_zalando_chart.release }}"
    release_namespace: "{{ k8s_zalando_namespace }}"
    create_namespace: true
    state: present
    wait: true
    wait_timeout: "{{ k8s_zalando_wait_timeout }}s"
    kubeconfig: "{{ k8s_kubeconfig | default(omit) }}"
    binary_path: "{{ lookup('ansible.bulitin.env', 'HELM_BIN', default=k8s_helm_bin) }}"
    values:
      configKubernetes:
        secret_name_template: "{{ k8s_zalando_secret_template }}"
      configLoadBalancer:
        db_hosted_zone: "{{ k8s_zalando_basedomain }}"
