---
name: molecule

on:
  pull_request:
  schedule:
    - cron: "0 5 * * 5"

defaults:
  run:
    working-directory: 'nephelaiio.k8s'

jobs:
  molecule:
    name: molecule
    runs-on: ubuntu-latest
    strategy:
      matrix:
        scenario:
          - default
          - argocd
          - longhorn
          - mysql
          - zalando
          - strimzi
        include:
          - kind: v0.22.0
            image: v1.29.2
          - kind: v0.22.0
            image: v1.28.7
          - release: v0.22.0
            image: v1.27.11
          - kind: 0.22.0
            image: v1.26.14
          - kind: 0.22.0
            image: v1.25.16
          - kind: 0.22.0
            image: v1.24.17
          - kind: 0.22.0
            image: v1.23.17
    steps:
      - name: Check out the codebase
        uses: actions/checkout@v4
        with:
          path: 'nephelaiio.k8s'

      - name: Set up python 3
        uses: actions/setup-python@v5
        with:
          python-version: '3.x'

      - name: Install helm
        uses: azure/setup-helm@v3
        with:
          version: 'latest'
          token: ${{ secrets.GITHUB_TOKEN }}
        id: helm

      - name: Install Kind
        uses: engineerd/setup-kind@v0.5.0
        with:
          version: "v0.18.0"
          skipClusterCreation: true

      - name: Install Make
        run: sudo apt-get install -y make

      - name: Install dependencies
        run: make install

      - name: Debug test environment
        run: make debug

      - name: run molecule tests.
        run: make test
        env:
          PY_COLORS: '1'
          ANSIBLE_FORCE_COLOR: '1'
          KIND_RELEASE: ${{ matrix. }}
          K8S_RELEASE: ${{ matrix.image }}
          HELM_BIN: ${{ steps.helm.outputs.helm-path }}
          GH_TOKEN: ${{ secrets.GH_TOKEN }}
          MOLECULE_SCENARIO: ${{ matrix.scenario }}
