---
name: molecule

env:
  DEVBOX_VERSION: ${{ vars.DEVBOX_VERSION }}

on:
  pull_request:
    branches:
      - master

defaults:
  run:
    working-directory: "nephelaiio.k8s"

jobs:
  molecule:
    name: molecule
    runs-on: ubuntu-latest
    strategy:
      matrix:
        scenario:
          - default
          - argocd
          - longhorn
          - mysql
          - zalando
          - strimzi
          - harbor
        k8s:
          - v1.32.2
          - v1.31.6
          - v1.30.10
          - v1.29.14
    steps:
      - name: Check out the codebase
        uses: actions/checkout@v4
        with:
          path: "nephelaiio.k8s"

      - name: Disable apparmor
        run: |
          set -x
          sudo sysctl -w kernel.apparmor_restrict_unprivileged_unconfined=0
          sudo sysctl -w kernel.apparmor_restrict_unprivileged_userns=0

      - name: Install devbox
        uses: jetify-com/devbox-install-action@v0.12.0
        with:
          project-path: "nephelaiio.k8s"

      - name: Install dependencies
        run: devbox run -- make install
        working-directory: "nephelaiio.k8s"

      - name: Run molecule tests
        run: devbox run -- make test
        working-directory: "nephelaiio.k8s"
        env:
          K8S_RELEASE: ${{ matrix.k8s }}
          GH_TOKEN: ${{ secrets.GH_TOKEN }}
          MOLECULE_SCENARIO: ${{ matrix.scenario }}
