---
name: update

on:
  schedule:
    - cron: "0 0 6 * *"

jobs:

  update:

    name: update chart versions
    runs-on: ubuntu-latest

    steps:

      - name: check out the codebase
        uses: actions/checkout@v2

      - name: update chart releases
        run: |
          bin/update_charts

      - name: commit and push changes
        uses: devops-infra/action-commit-push@master
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          commit_message: "Update Helm charts"
